/* styles.css file */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
}
h1 {
  font-size: 48px;
  margin-top: 20px;
}
#timer, #notes {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 20px auto;
  width: 70%;
  background-color: rgba(174, 88, 83, 0.6);
}
p#description {
  margin-left: 15%;
  margin-right: 15%;
  text-decoration: underline;
}
p#countDown {
  font-size: 60px;
  font-weight: bold;
}
hr {
  width: 80%;
  height: 5px;
  background-color: white;
  margin: 50px auto;
  border: none;
  border-radius: 5px;
}
#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
#settings-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.setting-label {
  text-align: center;
  min-width: 120px;
}
.setting-inputs {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.setting-input {
  width: 60px;
  text-align: center;
}
#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
button, input[type="number"] {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(76, 119, 177, 0.8);
  color: white;
  cursor: pointer;
}
button:hover{
  background-color: rgba(76, 119, 177, 1);
  transform: scale(1.05);
  transition: 0.1s ease-in;
}
/*
#separator {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 20px 0;
}
#notes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
*/